./.idea/*
./SharedProgram/program.jar
./SharedProgram/scala-library.jar
./SharedProgram/bin/**/*.*
./SharedProgram/src/**/*.*
.idea/.name
.idea/libraries/SBT__com_typesafe_akka_akka_actor_2_11_2_4_11_2_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_core_2_11_2_4_11_2_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_experimental_2_11_2_4_11_2_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_parsing_2_11_2_4_11_2_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_stream_2_11_2_4_11_2_jar.xml
.idea/libraries/SBT__com_typesafe_config_1_3_0_jar.xml
.idea/libraries/SBT__com_typesafe_ssl_config_akka_2_11_0_2_1_jar.xml
.idea/libraries/SBT__com_typesafe_ssl_config_core_2_11_0_2_1_jar.xml
.idea/libraries/SBT__org_reactivestreams_reactive_streams_1_0_0_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_java8_compat_2_11_0_7_0_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_parser_combinators_2_11_1_0_4_jar.xml
.idea/modules/scala_websockets-build.iml
.idea/modules/scala_websockets.iml
project/target/config-classes/$17da35c6941960f364bd$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$17da35c6941960f364bd$$anonfun$$sbtdef$1.class
project/target/config-classes/$17da35c6941960f364bd$$anonfun$$sbtdef$2.class
project/target/config-classes/$17da35c6941960f364bd$$anonfun$$sbtdef$3.class
project/target/config-classes/$17da35c6941960f364bd$.class
project/target/config-classes/$17da35c6941960f364bd.cache
project/target/config-classes/$17da35c6941960f364bd.class
project/target/config-classes/$288980a56dceab132064$$anonfun$$sbtdef$1.class
project/target/config-classes/$288980a56dceab132064$.class
project/target/config-classes/$288980a56dceab132064.cache
project/target/config-classes/$288980a56dceab132064.class
project/target/config-classes/$57a09156ec2ca908ea8b$$anonfun$$sbtdef$1.class
project/target/config-classes/$57a09156ec2ca908ea8b$.class
project/target/config-classes/$57a09156ec2ca908ea8b.cache
project/target/config-classes/$57a09156ec2ca908ea8b.class
project/target/config-classes/$70679e0500758660b872$$anonfun$$sbtdef$1.class
project/target/config-classes/$70679e0500758660b872$.class
project/target/config-classes/$70679e0500758660b872.cache
project/target/config-classes/$70679e0500758660b872.class
project/target/config-classes/$c23425426c6d335f38ed$$anonfun$$sbtdef$1.class
project/target/config-classes/$c23425426c6d335f38ed$.class
project/target/config-classes/$c23425426c6d335f38ed.cache
project/target/config-classes/$c23425426c6d335f38ed.class
project/target/resolution-cache/default/scala_websockets-build/
project/target/resolution-cache/reports/default-scala_websockets-build-compile-internal.xml
project/target/resolution-cache/reports/default-scala_websockets-build-compile.xml
project/target/resolution-cache/reports/default-scala_websockets-build-docs.xml
project/target/resolution-cache/reports/default-scala_websockets-build-optional.xml
project/target/resolution-cache/reports/default-scala_websockets-build-plugin.xml
project/target/resolution-cache/reports/default-scala_websockets-build-pom.xml
project/target/resolution-cache/reports/default-scala_websockets-build-provided.xml
project/target/resolution-cache/reports/default-scala_websockets-build-runtime-internal.xml
project/target/resolution-cache/reports/default-scala_websockets-build-runtime.xml
project/target/resolution-cache/reports/default-scala_websockets-build-scala-tool.xml
project/target/resolution-cache/reports/default-scala_websockets-build-sources.xml
project/target/resolution-cache/reports/defa
ult-scala_websockets-build-test-internal.xml
project/target/resolution-cache/reports/default-scala_websockets-build-test.xml
project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
target/resolution-cache/reports/websockets-websockets$sbt_2.10-default.xml
target/resolution-cache/reports/websockets-websockets$sources_2.10-default.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-compile-internal.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-compile.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-docs.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-optional.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-plugin.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-pom.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-provided.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-runtime-internal.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-runtime.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-scala-tool.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-sources.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-test-internal.xml
target/resolution-cache/reports/websockets-websockets$sources_2.12-test.xml
target/resolution-cache/reports/websockets-websockets_2.12-compile-internal.xml
target/resolution-cache/reports/websockets-websockets_2.12-compile.xml
target/resolution-cache/reports/websockets-websockets_2.12-docs.xml
target/resolution-cache/reports/websockets-websockets_2.12-optional.xml
target/resolution-cache/reports/websockets-websockets_2.12-plugin.xml
target/resolution-cache/reports/websockets-websockets_2.12-pom.xml
target/resolution-cache/reports/websockets-websockets_2.12-provided.xml
target/resolution-cache/reports/websockets-websockets_2.12-runtime-internal.xml
target/resolution-cache/reports/websockets-websockets_2.12-runtime.xml
target/resolution-cache/reports/websockets-websockets_2.12-scala-tool.xml
target/resolution-cache/reports/websockets-websockets_2.12-sources.xml
target/resolution-cache/reports/websockets-websockets_2.12-test-internal.xml
target/resolution-cache/reports/websockets-websockets_2.12-test.xml
target/resolution-cache/websockets/
target/scala-2.12/classes/server/
target/streams/$global/$global/$global/
target/streams/$global/clean/
target/streams/$global/updateSbtClassifiers/
target/streams/compile/$global/
target/streams/compile/compile/
target/streams/compile/compileIncremental/
target/streams/compile/copyResources/
target/streams/compile/dependencyClasspath/
target/streams/compile/exportedProducts/
target/streams/compile/incCompileSetup/
target/streams/compile/internalDependencyClasspath/
target/streams/compile/mainClass/
target/streams/compile/run/
target/streams/runtime/dependencyClasspath/
target/streams/runtime/exportedProducts/
target/streams/runtime/fullClasspath/
target/streams/runtime/internalDependencyClasspath/
.idea/libraries/SBT__com_typesafe_akka_akka_actor_2_12_2_5_2_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_2_12_10_0_7_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_core_2_12_10_0_7_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_spray_json_2_12_10_0_7_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_testkit_2_12_10_0_7_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_parsing_2_12_10_0_7_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_stream_2_12_2_5_2_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_stream_testkit_2_12_2_5_2_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_testkit_2_12_2_5_2_jar.xml
.idea/libraries/SBT__com_typesafe_config_1_3_1_jar.xml
.idea/libraries/SBT__com_typesafe_ssl_config_core_2_12_0_2_1_jar.xml
.idea/libraries/SBT__io_spray_spray_json_2_12_1_3_3_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_java8_compat_2_12_0_8_0_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_parser_combinators_2_12_1_0_4_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_xml_2_12_1_0_5_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_12_2_jar.xml
.idea/libraries/SBT__org_scalactic_scalactic_2_12_3_2_0_SNAP6_jar.xml
.idea/libraries/SBT__org_scalatest_scalatest_2_12_3_2_0_SNAP6_jar.xml
.idea/uiDesigner.xml
project/target/config-classes/$3521f60a83f3d7d07676$$anonfun$$sbtdef$1.class
project/target/config-classes/$3521f60a83f3d7d07676$.class
project/target/config-classes/$3521f60a83f3d7d07676.cache
project/target/config-classes/$3521f60a83f3d7d07676.class
project/target/config-classes/$76329dde11f172d6b4ee$$anonfun$$sbtdef$1.class
project/target/config-classes/$76329dde11f172d6b4ee$.class
project/target/config-classes/$76329dde11f172d6b4ee.cache
project/target/config-classes/$76329dde11f172d6b4ee.class
project/target/config-classes/$89706ac44a19cff3f8d2$$anonfun$$sbtdef$1.class
project/target/config-classes/$89706ac44a19cff3f8d2$.class
project/target/config-classes/$89706ac44a19cff3f8d2.cache
project/target/config-classes/$89706ac44a19cff3f8d2.class
project/target/config-classes/$f84f2b8ca0c32b97a25d$$anonfun$$sbtdef$1.class
project/target/config-classes/$f84f2b8ca0c32b97a25d$.class
project/target/config-classes/$f84f2b8ca0c32b97a25d.cache
project/target/config-classes/$f84f2b8ca0c32b97a25d.class
project/target/resolution-cache/reports/default-scala_websockets-build-test-internal.xml
target/scala-2.12/classes/application.conf
target/scala-2.12/test-classes/
